services:
  nginx:
    image: nginx:latest
    ports:
      - 80:80    # HTTP (для валидации Certbot)
      - 443:443  # HTTPS
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d          # Nginx конфиг
      - ./static-files:/usr/share/nginx/html      # Добавляем статические файлы в nginx в Docker'е
      - ./certbot/www:/var/www/certbot            # Certbot HTTP challenge
      - ./certbot/conf:/etc/letsencrypt           # SSL certificates
    restart: unless-stopped

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email makc_progress@mail.ru --agree-tos -d pp-maksim.ru
    restart: unless-stopped