version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rsp-prod
    ports:
      - "8080:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
