networks:
  dev:

services:
  # nginx:
  #   image: nginx:stable-alpine
  #   restart: always
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - '/var/www/rsp/build:/var/www/rsp/build'
  #     - '/etc/nginx/sites-available/rsp.conf:/etc/nginx/sites-available/rsp.conf'
  #     - './nginx.conf:/etc/nginx/nginx.conf'
  #     - '/etc/letsencrypt/live/pp-maksim.ru/fullchain.pem:/etc/letsencrypt/live/pp-maksim.ru/fullchain.pem'
  #     - '/etc/letsencrypt/live/pp-maksim.ru/privkey.pem:/etc/letsencrypt/live/pp-maksim.ru/privkey.pem'
  #     - '/etc/letsencrypt/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem'
  #   depends_on:
  #     - frontend
  #   networks:
  #     - dev

  frontend:
    build:
      context: .
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - '/var/www/rsp/build:/var/www/rsp/build'
      - '/etc/nginx/sites-available/rsp.conf:/etc/nginx/sites-available/rsp.conf'
    networks:
      - dev