networks:
  dev:

services:
  frontend:
    build:
      context: ../../
      dockerfile: Dockerfile.prod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx/rsp.conf:/etc/nginx/sites-available/rsp.conf'
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt/:/etc/letsencrypt/'
    networks:
      - dev