# пример запуска скрипта docker compose -f docker-compose.prod.yml up-p rsp-prod up

networks:
  prod:

services:
  frontend:
    build:
      context: .
      dockerfile: ./docker/prod/Dockerfile.prod
    container_name: prod-mod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx/rsp.conf:/etc/nginx/sites-available/rsp.conf'
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt/:/etc/letsencrypt/'
    networks:
      - prod