services:

  frontend:
    build:
      context: .
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt/live/pp-maksim.ru/:/etc/letsencrypt/live/pp-maksim.ru/'
