networks:
  dev:

services:
  frontend:
    build:
      context: .
      dockerfile: ./docker/dev/Dockerfile.dev
    container_name: dev-mod
    restart: always
    ports:
      - "3000:3000"
    networks:
      - dev