networks:
  dev:

services:
  # nginx:
  #   image: nginx:stable-alpine
  #   restart: always
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - './nginx/rsp.conf:/etc/nginx/sites-available/rsp.conf'
  #     - './nginx.conf:/etc/nginx/nginx.conf'
  #   depends_on:
  #     - frontend
  #   networks:
  #     - dev

  frontend:
    build:
      context: .
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx/rsp.conf:/etc/nginx/sites-available/rsp.conf'
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt/:/etc/letsencrypt/'
    networks:
      - dev