networks:
  dev:

services:

# docker-compose run --rm certbot certonly --webroot --webroot-path /var/www/certbot/ --dry-run -d [domain-name]
# or
# docker-compose run --rm certbot certonly --webroot --webroot-path /var/www/certbot/ -d [domain-name]
  # certbot:
  #   image: certbot/certbot:latest
  #   volumes:
  #     - ./certbot/www/:/var/www/certbot/:rw
  #     - ./certbot/conf/:/etc/letsencrypt/:rw

  frontend:
    build:
      context: .
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # - ./certbot/www/:/var/www/certbot/:ro
      - '/var/www/rsp/build:/var/www/rsp/build'
      - '/etc/nginx/sites-available/rsp.conf:/etc/nginx/sites-available/rsp.conf'
    networks:
      - dev