networks:
  dev:

services:
  # nginx:
  #   image: nginx:stable-alpine
  #   restart: always
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - .:/usr/share/nginx/html
  #     - './nginx.conf:/etc/nginx/nginx.conf'
  #     - '/etc/letsencrypt/live/pp-maksim.ru/fullchain.pem:/etc/letsencrypt/live/pp-maksim.ru/fullchain.pem'
  #     - '/etc/letsencrypt/live/pp-maksim.ru/privkey.pem:/etc/letsencrypt/live/pp-maksim.ru/privkey.pem'
  #     - '/etc/letsencrypt/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem'
  #   depends_on:
  #     - frontend
  #   networks:
  #     - dev

  frontend:
    build:
      context: .
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/usr/share/nginx/html
    networks:
      - dev