networks:
  dev:

services:

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    command: certonly --webroot -w /var/www/certbot --email your_email@example.com -d your_domain.com --agree-tos --no-eff-email
    networks:
      - dev

  frontend:
    build:
      context: .
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
      - '/var/www/rsp/build:/var/www/rsp/build'
      - './nginx/rsp.conf:/etc/nginx/sites-available/rsp.conf'
    networks:
      - dev