networks:
  dev:

services:
  frontend:
    build:
      context: .
    restart: always
    ports:
      - "3000:3000"
    # volumes:
    #   - './nginx/rsp.conf:/etc/nginx/sites-available/rsp.conf'
    #   - './nginx.conf:/etc/nginx/nginx.conf'
    #   - '/etc/letsencrypt/:/etc/letsencrypt/'
    networks:
      - dev