networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - .:/usr/share/nginx/html
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt/live/pp-maksim.ru/fullchain.pem:/etc/letsencrypt/live/pp-maksim.ru/fullchain.pem'
      - '/etc/letsencrypt/live/pp-maksim.ru/privkey.pem:/etc/letsencrypt/live/pp-maksim.ru/privkey.pem'
      - '/etc/letsencrypt/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem'
    depends_on:
      - frontend
    networks:
      - dev

  frontend:
    build:
      context: .
    volumes:
      - .:/usr/share/nginx/html
    networks:
      - dev