networks:
  dev:

services:
  # nginx:
  #   image: nginx:stable-alpine
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - './nginx.conf:/etc/nginx/nginx.conf'
  #     - '/etc/letsencrypt/:/etc/letsencrypt/'
  #   depends_on:
  #     - frontend
  #   networks:
  #     - dev

  frontend:
    build:
      context: .
    networks:
      - dev
    # ports:
    #   - 3000:3000
    ports:
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt/live/pp-maksim.ru/fullchain.pem:/etc/letsencrypt/live/pp-maksim.ru/fullchain.pem'
      - '/etc/letsencrypt/live/pp-maksim.ru/privkey.pem:/etc/letsencrypt/live/pp-maksim.ru/privkey.pem'
      - '/etc/letsencrypt/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem'
